# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfplan
*.zip

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/

# Node (just in case)
node_modules/

# Local env
.env
local/.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
